# Renombrar este archivo a ".env" y ajustar según su entorno

# Puerto del servidor Express/Apollo
PORT=4000

# Cadena de conexión a MongoDB
# Local (MongoDB Community/Compass):
MONGO_URI=mongodb://localhost:27017/tokyo_noodles

# Si usan MongoDB Atlas (nube), se remplaza por algo como:
# MONGO_URI=mongodb+srv://usuario:password@cluster0.xxxxx.mongodb.net/tokyo_noodles
