# Renombrar este archivo a ".env" y ajustar según su entorno

# Puerto del servidor Express/Apollo
PORT=4000

# Cadena de conexión a MongoDB
MONGO_URI=mongodb+srv://bico9778_db_user:lev7sxZyLqe0Vlfw@cluster0.ajehhsd.mongodb.net/tokyo_noodles
